@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Neucha&display=swap');

body {
  background-image: url(../images/bg-1.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0px;
  padding: 0px;
}

.benshade {
  font-family: 'Bungee Shade', cursive;
}

.hand{
  font-family: 'Neucha', cursive;
}

.opening {
}

#banner {
  padding: 30rem;
}
